.third, .second, .first {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
}

.first {
  background-color: palevioletred;
}

.second {
  background-color: mediumvioletred;
}

.third {
  background-color: fuchsia;
}

.container {
  padding-top: 20%;
  vertical-align: bottom;
  text-align: center;
}

.row > div {
  padding: 20px;
  background-color: paleturquoise;
  border: 2px solid black;
}

div {
  text-align: center;
}

#pic {
  width: 50%;
  padding-left: 20%;
}

@media (min-width: 500px) {
  body {
    background-color: peachpuff;
  }
}
@media (max-width: 499px) {
  body {
    background-color: paleturquoise;
  }
}
a::before {
  content: "Click for my ";
}

li a {
  color: green;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
